@{
    ViewBag.Title = "Sht31";
}

<div id="chartTemp" style="margin-top:75px"></div>
<div id="chartMois"></div>

<script type="text/javascript">

    $(function() {

        let points = @Html.Raw(ViewBag.DataPoints);
        let tempPoints = points.Temperature;
        let moisPoints = points.Moisture;

        DrawTempChart(tempPoints);

        let chartTempHeight = $('#chartTemp')[0].scrollHeight + 200;
        $('#chartMois').attr('style', `margin-top:${chartTempHeight}px`);

        DrawMoisChart(moisPoints);
    });

    function DrawTempChart(tempPoints) {

        let convertedPoints = new Array();

        $.each(tempPoints, function(index, value) {
            let singlePoint = {
                x: convertToDate(value.ReadingTime),
                y: parseFloat(value.Temperature)
            }
            convertedPoints.push(singlePoint)
        });

        var chartTemp = new CanvasJS.Chart("chartTemp", {
            title: {
                text: "Sht31 Temperature"
            },
            animationEnabled: true,
            axisY: {
                title: "Stopnie celsjusza",
                valueFormatString: "#0",
                suffix: " C"
            },
            data: [
                {
                    toolTipContent: "{y} C",
                    type: "splineArea",
                    markerSize: 5,
                    color: "rgba(54,158,173,.7)",
                    dataPoints: convertedPoints
                }
            ]
        });

        chartTemp.render();
    }

    function DrawMoisChart(moisPoints) {

        let convertedPoints = new Array();

        $.each(moisPoints, function(index, value) {
            let singlePoint = {
                x: convertToDate(value.ReadingTime),
                y: parseFloat(value.Moisture)
            }
            convertedPoints.push(singlePoint)
        });

        var chartTemp = new CanvasJS.Chart("chartMois", {
            title: {
                text: "Sht31 Moisture"
            },
            animationEnabled: true,
            axisY: {
                title: "Wilgotność powietrza ",
                valueFormatString: "#0",
                suffix: " %"
            },
            data: [
                {
                    toolTipContent: "{y} %",
                    type: "splineArea",
                    markerSize: 5,
                    color: "rgba(54,158,173,.7)",
                    dataPoints: convertedPoints
                }
            ]
        });

        chartTemp.render();
    }

    function convertToDate(dateString) {
        let all = dateString.split(" ");
        let date = all[0].split('.');
        let time = all[1].split(':');

        let dat = new Date(date[2], date[1] - 1, date[0], time[0], time[1], time[2]);

        return dat;
    }
</script>

@*<script src="~/js/Sht31.js"></script>*@
