@using WeightCharts.Constans

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeightChart</title>

    @await Html.PartialAsync("./MasterPage/Styles")
    @await RenderSectionAsync("Styles", required: false)

    @await Html.PartialAsync("./MasterPage/Scripts")
    @await RenderSectionAsync("Scripts", required: false)
</head>

<body>
    @await Html.PartialAsync("./MasterPage/Sidebar")
    <div id="page-content-wrapper" class="page-content-toggle">
        <div class="container-fluid">
            <div class="row">
                <div id="content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>

</html>

