@{
    ViewBag.Title = "Home";
}

<div id="gridContainer" class="grid-container">
    <h4 class="home-title">System monitoringu pasieki</h4>
    <div id="apiary">
        <span id="verticalStripe"></span>
        <span id="horizontalStripe"></span>
        <img src="~/img/pasieka.jpg" class="home-photo" />
    </div>
</div>
